@charset "UTF-8";
/* 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

img {
  border: 0; }

body {
  font: normal 12px "微软雅黑",Arial,sans-serif; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.clearfix {
  margin: 0 auto;
  width: 1190px; }

/* header start */
.header {
  width: 100%; }
.header .header_t {
  height: 50px;
  font-size: 12px; }
.header .header_t .logo {
  float: left;
  background: url("../../images/logo.gif") no-repeat;
  display: block;
  width: 215px;
  height: 50px; }
.header .header_t p {
  float: left;
  height: 50px;
  line-height: 50px; }
.header .header_t p a {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  height: 15px;
  line-height: 15px; }
.header .header_t p a:hover {
  color: #DD0000; }
.header .header_t ul {
  float: right;
  height: 50px;
  line-height: 50px; }
.header .header_t ul li {
  float: left;
  position: relative; }
.header .header_t ul li a {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  padding: 0 10px;
  font-size: 12px; }
.header .header_t ul li a:hover {
  color: #DD0000; }
.header .header_t ul li:nth-child(3) {
  background: url("../../images/mui-global-iconfont.gif") no-repeat 10px center;
  padding-left: 10px; }
.header .header_t ul li:nth-child(3) a {
  padding-left: 22px; }
.header .header_t ul li:nth-child(4) a {
  color: #DD0000; }
.header .header_t ul li:nth-child(3) .mobile-shop {
  display: none;
  position: absolute;
  top: 86px;
  left: -95px;
  width: 280px;
  height: 150px;
  border: 1px #ddd solid;
  background: #fff; }
.header .header_t ul li:nth-child(3) .mobile-shop img {
  margin: 13px 30px 13px; }
.header .header_t ul li:nth-child(3):hover .mobile-shop {
  display: block; }
.header .header_b {
  height: 36px;
  background: #000;
  width: 100%; }
.header .header_b.fixed-header {
  position: fixed;
  top: -36px;
  z-index: 201;
  transform: translateY(36px);
  transition: all 1s; }
.header .header_b .all-styles {
  position: relative;
  float: left;
  width: 210px;
  height: 36px;
  line-height: 36px;
  text-indent: 24px;
  background: #D6211A url("../../images/public.3.4.gif") 0 -82px no-repeat; }
.header .header_b .all-styles #goodslist {
  font-size: 16px;
  color: #fff; }
.header .header_b .all-styles .all-styles-tab {
  display: none; }
.header .header_b .all-styles:hover .all-styles-tab {
  z-index: 100;
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  top: 36px;
  background: url("../../images/daohang/style-tab-bg.png") no-repeat;
  color: #000; }
.header .header_b .all-styles:hover .all-styles-tab li {
  font-size: 12px;
  text-indent: 0;
  text-align: left;
  width: 180px;
  position: relative;
  padding: 7px 15px 8px;
  line-height: 22px;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1); }
.header .header_b .all-styles:hover .all-styles-tab li:hover {
  background: #D6211A; }
.header .header_b .all-styles:hover .all-styles-tab li h3 {
  line-height: 18px;
  font-size: 16px;
  height: 21px;
  font-weight: normal; }
.header .header_b .all-styles:hover .all-styles-tab li h3 a {
  color: #fff; }
.header .header_b .all-styles:hover .all-styles-tab li h3 a:hover {
  text-decoration: underline; }
.header .header_b .all-styles:hover .all-styles-tab li p a {
  display: inline-block;
  padding-right: 5px;
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
  color: #fff; }
.header .header_b .all-styles:hover .all-styles-tab li p a:hover {
  text-decoration: underline; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 210px;
  top: -80px;
  width: 735px;
  height: 220px;
  border: 1px #ddd solid;
  overflow: hidden; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content ul {
  width: 430px;
  border-top: 1px #ddd dashed;
  border-bottom: 1px #ddd dashed;
  margin: 30px 20px 30px 30px;
  height: 158px;
  float: left; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content ul li {
  width: auto;
  padding: 0;
  margin: 23px 0 0;
  line-height: 22px;
  box-shadow: none; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content ul li:hover {
  background: none; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content ul li a {
  color: #999;
  margin-right: 10px; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content ul li a:hover {
  color: #D6211A; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content .style-ad {
  border-left: 1px #ddd solid;
  height: 178px;
  margin: 20px 0;
  padding: 0 20px;
  float: left; }
.header .header_b .all-styles:hover .all-styles-tab li .style-tab-content .style-ad h4 {
  color: #666;
  line-height: 18px;
  margin-bottom: 15px;
  font-size: 14px; }
.header .header_b .all-styles:hover .all-styles-tab li:nth-of-type(3):hover .style-tab-content {
  display: block; }
.header .header_b .all-styles:hover .all-styles-tab li:nth-of-type(3) .style-tab-content {
  display: none; }
.header .header_b .all-styles:hover .all-styles-tab li:nth-of-type(4):hover .style-tab-content {
  display: block; }
.header .header_b .all-styles:hover .all-styles-tab li:nth-of-type(4) .style-tab-content {
  display: none; }
.header .header_b .header_c {
  float: left;
  font-size: 14px; }
.header .header_b .header_c > li {
  position: relative;
  float: left;
  background: #231f20 url("../../images/navBg.gif") right center no-repeat; }
.header .header_b .header_c > li > a {
  height: 36px;
  line-height: 36px;
  padding: 0 7px;
  text-align: center;
  color: #fff;
  width: 62px;
  display: block; }
.header .header_b .header_c > li:hover {
  background: #000; }
.header .header_b .header_c > li:hover .item-box {
  display: block; }
.header .header_b .header_c > li .item-box {
  z-index: 100;
  display: none;
  position: absolute;
  background: #fff;
  top: 36px;
  left: -76px;
  border: 1px #eee solid;
  height: 345px;
  width: 635px;
  box-shadow: 0 0 3px #ddd; }
.header .header_b .header_c > li .item-box .line-nav-ad {
  float: left;
  display: block;
  margin-top: 20px;
  padding: 0 10px 0 20px;
  border-right: 1px solid #eee;
  width: 180px;
  height: 298px; }
.header .header_b .header_c > li .item-box ul {
  float: left;
  padding: 20px 15px 20px 10px;
  width: 395px; }
.header .header_b .header_c > li .item-box ul li {
  margin-bottom: 13px; }
.header .header_b .header_c > li .item-box ul li p {
  color: #ccc; }
.header .header_b .header_c > li .item-box ul li h4 {
  border-bottom: 1px #ddd dashed;
  margin-bottom: 7px;
  height: 25px;
  font-size: 14px; }
.header .header_b .header_c > li .item-box ul li h4 a {
  color: #222;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 4px;
  margin-right: 15px; }
.header .header_b .header_c > li .item-box ul li h4 a:hover {
  color: #D6211A;
  text-decoration: underline; }
.header .header_b .header_c > li .item-box ul li a {
  color: #333;
  margin-right: 15px; }
.header .header_b .header_c > li .item-box ul li a:hover {
  color: #D6211A;
  text-decoration: underline; }
.header .header_b .header_c > li .item-box ul li:last-child a {
  color: #D6211A; }
.header .header_b .header_c > li:first-child {
  background-color: #000; }
.header .header_b .header_c > li:last-child {
  background-image: none; }
.header .header_b .header_c > li:last-child a {
  width: 114px; }
.header .header_b .header_c > li:last-child a img {
  margin-top: 3px;
  height: 30px; }
.header .header_b .header_b_search {
  float: right;
  position: relative; }
.header .header_b .header_b_search input {
  outline: none;
  padding: 0 10px;
  height: 26px;
  border: 0;
  width: 180px;
  border-radius: 5px;
  margin-top: 5px; }
.header .header_b .header_b_search a {
  position: absolute;
  display: block;
  height: 23px;
  width: 30px;
  background: #fff url("../../images/index-icon.png") -42px -164px no-repeat;
  right: 5px;
  top: 7px; }

/* header end */
/* right-siderbar start */
.right-sidebar {
  width: 315px;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 300;
  right: -280px;
  top: 50px; }
.right-sidebar .sidebar-list {
  width: 35px;
  position: absolute;
  left: 0;
  top: 30%; }
.right-sidebar .sidebar-list .sidebar-item {
  height: 40px;
  width: 35px;
  position: relative;
  left: 0;
  background: #000;
  margin: 4px 0;
  cursor: pointer; }
.right-sidebar .sidebar-list .sidebar-item:hover {
  background: #DD0000; }
.right-sidebar .sidebar-list .sidebar-item:hover .sidebar-tab-tip {
  display: block; }
.right-sidebar .sidebar-list .sidebar-tab-tip {
  display: none;
  background-color: #494949;
  z-index: 201;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 40px;
  position: absolute;
  right: 35px;
  top: 0;
  text-align: center;
  min-width: 90px;
  min-height: 35px; }
.right-sidebar .sidebar-list .sidebar-tab-tip .sidebar-icon {
  font-family: "宋体";
  font-size: 16px;
  position: absolute;
  right: -8px;
  bottom: 10px;
  color: #494949;
  height: 16px;
  line-height: 16px; }
.right-sidebar .sidebar-list .go-to-top {
  display: none;
  left: 0;
  background: #000;
  margin-top: 50px;
  background: url("../../images/index-icon.png") no-repeat -37px -196px;
  height: 35px;
  width: 35px; }
.right-sidebar .sidebar-list .user-qrcode-box .sidebar-logo {
  background-position: 4px -155px; }
.right-sidebar .sidebar-list .user-qrcode-box .sidebar-tab-tip {
  background: #fff;
  height: 135px;
  width: 230px;
  padding: 10px 5px;
  top: -120px;
  right: 35px; }
.right-sidebar .sidebar-list .user-qrcode-box .sidebar-tab-tip .sidebar-icon {
  color: #fff; }
.right-sidebar .sidebar-list .user-service-box .sidebar-logo {
  background-position: 3px -325px;
  background-color: #d00; }
.right-sidebar .sidebar-list .user-service-box .sidebar-tab-tip {
  background: #d00;
  font-weight: bold;
  font-size: 14px; }
.right-sidebar .sidebar-list .user-service-box .sidebar-icon {
  color: #d00; }
.right-sidebar .sidebar-list .sidebar-logo {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../images/index-icon.png") no-repeat; }
.right-sidebar .sidebar-list .user-login-box .sidebar-logo {
  background-position: 3px -224px; }
.right-sidebar .sidebar-list .user-cart-box {
  height: 95px; }
.right-sidebar .sidebar-list .user-cart-box .sidebar-logo {
  background-position: 4px -264px;
  top: 10px; }
.right-sidebar .sidebar-list .user-cart-box .sidebar-txt {
  color: #fff;
  position: absolute;
  top: 35px;
  left: 11px;
  width: 14px;
  font-size: 12px; }
.right-sidebar .sidebar-list .user-cart-box .sidebar-cart-border {
  height: 95px;
  position: absolute;
  top: -1px;
  left: 7px;
  width: 20px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444; }
.right-sidebar .sidebar-list .user-like-box .sidebar-logo {
  background-position: 3px -121px; }
.right-sidebar .sidebar-list .user-saw-box .sidebar-logo {
  background-position: 3px -291px; }
.right-sidebar .sidebar-list .user-tel-box .sidebar-logo {
  background-position: 3px -20px; }
.right-sidebar .sidebar-list .user-tel-box .sidebar-tab-tip {
  text-align: left;
  padding: 5px 5px 5px 7px;
  line-height: 18px;
  font-size: 12px; }
.right-sidebar .sidebar-list .user-tel-box .sidebar-tab-tip span {
  display: block;
  line-height: 20px;
  width: 110px;
  font-size: 16px; }
.right-sidebar .sidebar-list .user-tel-box .sidebar-tab-tip .sidebar-icon {
  bottom: 18px; }
.right-sidebar .sidebar-box {
  position: absolute;
  width: 280px;
  height: 100%;
  left: 35px;
  top: 0;
  /* 购物车sidebarbox*/ }
.right-sidebar .sidebar-box .sidebar-saw-box {
  position: relative; }
.right-sidebar .sidebar-box .sidebar-saw-box .tip-text {
  color: #fff; }
.right-sidebar .sidebar-box .sidebar-saw-box .tip-text a {
  display: block;
  margin-top: 10px;
  color: #d00;
  text-decoration: underline; }
.right-sidebar .sidebar-box .sidebar-saw-box .ensure-delete {
  color: #333;
  width: 170px;
  height: 80px;
  padding: 20px;
  position: absolute;
  left: 25px;
  top: 150px;
  background: #fff;
  z-index: 100px;
  border: 1px #eee solid;
  border-radius: 5px;
  box-shadow: 0 0 5px #999; }
.right-sidebar .sidebar-box .sidebar-saw-box .ensure-delete .are-you-sure {
  font-weight: bold; }
.right-sidebar .sidebar-box .sidebar-saw-box .ensure-delete .remark {
  color: #999;
  margin: 7px 0; }
.right-sidebar .sidebar-box .sidebar-saw-box .ensure-delete a {
  float: left;
  display: inline-block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  background: #d00;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  border-radius: 3px; }
.right-sidebar .sidebar-box .sidebar-saw-box .ensure-delete a.cancel {
  float: right;
  background: #666; }
.right-sidebar .sidebar-box .hide {
  display: none; }
.right-sidebar .sidebar-box .saw-content {
  width: 280px;
  height: 100%;
  overflow: auto; }
.right-sidebar .sidebar-box .saw-content .saw-show-more {
  margin-bottom: 92px;
  margin-top: 10px;
  width: 280px;
  height: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: #fff; }
.right-sidebar .sidebar-box .saw-content .saw-lists {
  padding: 0 20px; }
.right-sidebar .sidebar-box .saw-content .saw-lists li {
  float: left;
  margin: 0 5px 10px; }
.right-sidebar .sidebar-box .saw-content .saw-lists a {
  color: #fff;
  width: 100px; }
.right-sidebar .sidebar-box .saw-content .saw-lists a img {
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin-bottom: 5px; }
.right-sidebar .sidebar-box .saw-content .saw-lists p {
  width: 100px;
  overflow: hidden; }
.right-sidebar .sidebar-box .saw-content .saw-clean {
  float: right;
  margin-top: -34px;
  margin-right: 50px;
  display: block;
  color: #fff; }
.right-sidebar .sidebar-box .saw-content .saw-total {
  background: #666;
  border-radius: 10px;
  width: 100px;
  height: 20px;
  line-height: 20px;
  margin: 15px auto;
  text-align: center;
  display: block;
  color: #fff; }
.right-sidebar .sidebar-box .saw-content .saw-total-num {
  margin-right: 4px; }
.right-sidebar .sidebar-box .sidebar-box-item {
  width: 100%;
  height: 100%;
  background: #393939; }
.right-sidebar .sidebar-box .sidebar-box-item .tip-text {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 12px; }
.right-sidebar .sidebar-box .sidebar-box-item .tip-text a {
  display: block;
  margin-top: 10px;
  color: #d00;
  text-decoration: underline; }
.right-sidebar .sidebar-box .sidebar-cart-box {
  position: relative; }
.right-sidebar .sidebar-box .sidebar-cart-box .ensure-delete {
  left: 25px;
  top: 150px; }
.right-sidebar .sidebar-box .sidebar-cart-box .cart-alert {
  left: 25px;
  top: 150px; }
.right-sidebar .sidebar-box .sidebar-cart-box .anta-alert .title {
  text-align: left;
  line-height: 20px;
  font-weight: bold; }
.right-sidebar .sidebar-box .sidebar-cart-box .anta-alert a.ensure {
  float: right;
  background: #d00;
  right: 30%;
  bottom: 20px; }
.right-sidebar .sidebar-box .sidebar-cart-box .anta-confirm, .right-sidebar .sidebar-box .sidebar-cart-box .anta-alert {
  position: absolute;
  color: #333;
  width: 170px;
  height: 80px;
  padding: 20px;
  background: #fff;
  z-index: 310;
  border: 1px #eee solid;
  border-radius: 5px;
  box-shadow: 0 0 5px #999; }
.right-sidebar .sidebar-box .sidebar-cart-box .anta-confirm .content, .right-sidebar .sidebar-box .sidebar-cart-box .anta-alert .content {
  font-weight: bold;
  text-align: center; }
.right-sidebar .sidebar-box .sidebar-cart-box .anta-confirm a, .right-sidebar .sidebar-box .sidebar-cart-box .anta-alert a {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  border-radius: 3px; }
.right-sidebar .sidebar-box .sidebar-cart-box .anta-confirm a.ensure, .right-sidebar .sidebar-box .sidebar-cart-box .anta-alert a.ensure {
  float: left;
  background: #d00;
  left: 20px;
  bottom: 20px; }
.right-sidebar .sidebar-box .sidebar-cart-box .anta-confirm a.cancel, .right-sidebar .sidebar-box .sidebar-cart-box .anta-alert a.cancel {
  float: right;
  background: #666;
  right: 20px;
  bottom: 20px; }
.right-sidebar .sidebar-box .cart-table-box {
  width: 100%;
  height: 100%;
  overflow: auto; }
.right-sidebar .sidebar-box table {
  border-collapse: collapse;
  border-spacing: 0; }
.right-sidebar .sidebar-box table tbody {
  vertical-align: middle; }
.right-sidebar .sidebar-box table tbody tr td {
  font-size: 13px;
  height: 60px; }
.right-sidebar .sidebar-box table tbody tr td .right-sidebar-img {
  display: block;
  overflow: hidden;
  height: 50px;
  width: 50px; }
.right-sidebar .sidebar-box table tbody tr td .right-sidebar-img img {
  height: 50px;
  width: 50px;
  padding: 0 5px; }
.right-sidebar .sidebar-box table tbody tr td .num-box {
  text-align: center;
  height: 30px;
  line-height: 30px; }
.right-sidebar .sidebar-box table tbody tr td .check-item {
  display: block;
  margin: 0 5px;
  font-size: 13px; }
.right-sidebar .sidebar-box table tbody tr td:nth-child(1) {
  width: 25px; }
.right-sidebar .sidebar-box table tbody tr td:nth-child(2) {
  width: 60px; }
.right-sidebar .sidebar-box table tbody tr td:nth-child(3) {
  width: 70px; }
.right-sidebar .sidebar-box table tbody tr td:nth-child(4) {
  width: 65px; }
.right-sidebar .sidebar-box table tbody tr td:nth-child(5) {
  width: 60px; }
.right-sidebar .sidebar-box .cart-table {
  background: #fff;
  margin-top: 5px;
  width: 100%; }
.right-sidebar .sidebar-box .cart-table tr:hover .hidden {
  visibility: visible; }
.right-sidebar .sidebar-box .cart-table tr td .hidden {
  visibility: hidden; }
.right-sidebar .sidebar-box .cart-table tr td .num-price {
  display: block;
  padding-left: 15px;
  padding-top: 8px; }
.right-sidebar .sidebar-box .cart-table tr td .delete-item {
  display: block;
  height: 13px;
  width: 13px;
  color: #666;
  border: 1px #666 solid;
  border-radius: 50%;
  line-height: 11px;
  float: right;
  text-align: center;
  margin-top: -13px;
  font-size: 14px;
  margin-right: 5px; }
.right-sidebar .sidebar-box .cart-table tr td .num-box a.num-op {
  font-size: 14px;
  display: block;
  color: #666;
  border: 1px #666 solid;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  float: left;
  line-height: 11px;
  margin-top: 8px; }
.right-sidebar .sidebar-box .cart-table tr td .num-box .num {
  display: inline-block;
  float: left;
  margin: 0 5px; }
.right-sidebar .sidebar-box .sidebar-box-item.sidebar-cart-box {
  background: #e6e6e6; }
.right-sidebar .sidebar-box .sidebar-box-item h3 {
  height: 35px;
  padding: 0 3px;
  line-height: 35px;
  font-size: 16px; }
.right-sidebar .sidebar-box .sidebar-box-item h3 .checkall {
  margin: 12px 8px 0 2px;
  display: block;
  float: left; }
.right-sidebar .sidebar-box .sidebar-box-item h3 span {
  color: #fff;
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  display: block;
  float: left; }
.right-sidebar .sidebar-box .sidebar-box-item h3 a {
  height: 35px;
  width: 25px;
  background-image: url("../../images/service-icon.png"), url("../../images/service-icon.png");
  background-repeat: no-repeat,no-repeat;
  background-position: -67px -64px,-60px -64px;
  display: block;
  float: left; }
.right-sidebar .sidebar-box .sidebar-box-item h3.cart-title span {
  color: grey; }
.right-sidebar .sidebar-box .sidebar-box-item h3.cart-title a {
  float: right;
  background: none;
  font-size: 14px;
  width: 60px;
  color: grey; }
.right-sidebar .sidebar-box .account-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 0 15px;
  background: #fff; }
.right-sidebar .sidebar-box .account-box p {
  height: 26px;
  line-height: 26px; }
.right-sidebar .sidebar-box .account-box .total-nums-text {
  float: left;
  display: block; }
.right-sidebar .sidebar-box .account-box .total-num {
  margin: 0 4px; }
.right-sidebar .sidebar-box .account-box .total-price-text {
  float: right;
  color: #d00;
  display: block; }
.right-sidebar .sidebar-box .account-box .total-price {
  margin-left: 3px; }
.right-sidebar .sidebar-box .account-box .to-settlement {
  display: block;
  height: 40px;
  line-height: 40px;
  background: #d00;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px; }

/* footer */
.footer {
  border-top: 3px solid #e2e2e2; }
.footer .serverbox {
  overflow: hidden;
  margin: 30px auto; }
.footer .serverbox .server-list {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #dbdbdb;
  overflow: hidden; }
.footer .serverbox .server-list li {
  float: left;
  margin: 0 75px; }
.footer .serverbox .server-list li h4 {
  font-weight: bolder;
  font-size: 16px;
  line-height: 32px;
  color: #000; }
.footer .serverbox .server-list li a {
  display: block;
  line-height: 30px;
  color: #000; }
.footer .serverbox .server-list li a:hover {
  color: #d00; }
.footer .serverbox .server-list li.item-first {
  margin-left: 0; }
.footer .serverbox .custom-service {
  margin-left: 100px;
  float: left; }
.footer .serverbox .custom-service h4 {
  font-weight: bolder;
  font-size: 16px;
  line-height: 32px;
  color: #000; }
.footer .serverbox .custom-service .server-tel {
  margin: 5px 0 15px;
  display: block;
  height: 40px;
  width: 250px;
  background: url("../../images/service-icon.png") -10px -15px no-repeat; }
.footer .serverbox .custom-service .service-btn {
  margin-bottom: 10px;
  display: block;
  height: 25px;
  width: 135px;
  border: 1px #bdbdbd solid;
  border-radius: 5px; }
.footer .serverbox .custom-service .service-btn .icon-zxkf {
  height: 25px;
  display: block;
  float: left;
  font-style: italic;
  width: 37px;
  background: url("../../images/service-icon.png") -7px -181px no-repeat; }
.footer .serverbox .custom-service .service-btn span {
  height: 25px;
  line-height: 25px;
  margin-left: 15px;
  color: #000;
  font-size: 14px;
  display: block;
  float: left; }
.footer .serverbox .custom-service .weixin-code {
  display: block;
  height: 90px;
  width: 90px;
  background: url("../../images/qr-code.jpg") no-repeat; }
.footer .company-cr {
  background: #000;
  width: 100%; }
.footer .company-cr a {
  color: #fff; }
.footer .company-cr .company-info {
  overflow: hidden;
  line-height: 60px; }
.footer .company-cr .company-info .copyright {
  margin-right: 15px; }
.footer .company-cr .company-info span {
  display: block;
  float: left;
  color: #fff; }
.footer .company-cr .company-info > div {
  float: right; }
.footer .company-cr .company-info > div a {
  margin-right: 8px; }
.footer .company-cr .company-info > div a:hover {
  color: #d00; }
.footer .company-cr .company-info > a {
  margin-right: 20px;
  vertical-align: baseline;
  display: block;
  float: left; }
.footer .company-cr .company-info > a img {
  vertical-align: baseline; }
.footer .company-cr .company-info > a.police-img {
  height: 33px;
  width: 34px;
  margin-top: 10px; }

/*# sourceMappingURL=header_footer.css.map */
